.SnackbarItem-variantSuccess {
  background-color: #00856f !important;
}
.MuiBadge-badge {
  background-color: #003d2f !important;
}

.event-images {
  height: 400px;
}

.react-fullscreen-slideshow-modal-gallery {
  background-color: rgb(0, 88, 73) !important;
}
